{% extends "secretario/usuario_logado.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/secretario/styles/quadro_horarios.css' %}">

{% endblock styles %}

<!------ Include the above in your HEAD tag ---------->
{% block content %}

<!-- time-table -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center mb30">
                <form>
                    {% csrf_token %}

                    <div class="dropdown" style="max-width: 200px;">
                        <button type="button" class="btn btn-lg btn-primary btn-block text-uppercase dropdown-toggle"
                            data-toggle="dropdown">
                            Modalidade
                        </button>
                        <div class="dropdown-menu">
                            <button type="submit" value="Crossfit" name="modalidade"
                                class="dropdown-item">&nbsp;Crossfit</button>
                            <button type="submit" value="Spinning" name="modalidade"
                                class="dropdown-item">&nbsp;Spinning</button>
                            <button type="submit" value="Ritmos" name="modalidade"
                                class="dropdown-item">&nbsp;Ritmos</button>
                            <button type="submit" value="Natacao" name="modalidade"
                                class="dropdown-item">&nbsp;Natação</button>
                        </div>
                    </div>
                </form>
                <h2 style="padding-top: 30px;">Quadro de Horários</h2>
            </div>
            <div class="table-responsive">
                <table class="timetable table table-striped ">
                    <thead>
                        <tr class="text-center">
                            <th scope="col"></th>
                            <th scope="col">Segunda</th>
                            <th scope="col">Terça</th>
                            <th scope="col">Quarta</th>
                            <th scope="col">Quinta</th>
                            <th scope="col">Sexta</th>
                            <th scope="col">Sábado</th>
                            <th scope="col">Domingo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for horario in horarios %}
                        <tr>
                            <th scope="row">{{horario}}</th>
                            {% for all_aulas in tabela %}
                            {% for aula in all_aulas %}
                            {% if aula.horario == horario %}
                            <td class="timetable-workout"><a href="../aula?aula_id={{aula.id}}">{{modalidade}}</a>
                                <br> {{aula.horario}}</td>
                            {% endif %}
                            {% endfor %}

                            {% endfor %}
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <!-- timetable -->
        </div>
    </div>
</div>
<!-- /.time-table -->

{% endblock content %}