{% extends "secretario/usuario_logado.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/secretario/styles/matricular_styles.css'%}">
{% endblock styles %}

{% block content %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Matricular Aluno</h5>
                        <form class="form-signin" method="POST">
                            {% csrf_token %}

                            <div class="form-label-group">
                                <input name="usuario" type="text" id="inputUserame" class="form-control"
                                    placeholder="Username" required autofocus>
                                <label for="inputUserame">Usuário</label>
                            </div>

                            <div class="form-label-group">
                                <input name="email" type="email" id="inputEmail" class="form-control"
                                    placeholder="Email address" required>
                                <label for="inputEmail">Email</label>
                            </div>

                            
                            <div class="form-label-group">
                                <input name="senha" type="password" id="inputPassword" class="form-control"
                                    placeholder="Password" required>
                                <label for="inputPassword">Senha</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="inputConfirmPassword" class="form-control"
                                    placeholder="Password" required>
                                <label for="inputConfirmPassword">Confirme a senha</label>
                            </div>
                            <hr>

                            <div class="form-label-group">
                                <input name="nome" type="text" id="inputNome" class="form-control"
                                    placeholder="Nome" required autofocus>
                                <label for="inputNome">Nome</label>
                            </div>

                            <div class="form-label-group">
                                <input name="CPF" type="text" id="inputCPF" class="form-control"
                                    placeholder="CPF" required autofocus>
                                <label for="inputCPF">CPF</label>
                            </div>

                            <div class="form-label-group">
                                <input name="identidade" type="number" id="inputIdentidade" class="form-control"
                                    placeholder="Identidade" required autofocus>
                                <label for="inputIdentidade">Identidade</label>
                            </div>

                            <div class="form-label-group">
                                <input name="nascimento" type="date" id="inputNascimento" class="form-control"
                                    placeholder="Nascimento" required autofocus>
                                <label for="inputNascimento">Nascimento</label>
                            </div>
                            <hr>

                            <div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Selecione o Plano
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" >Variado Anual 3x na Semana</a>
                                  <a class="dropdown-item" >Variado Semestral 3x na Semana</a>
                                  <a class="dropdown-item" >Variado Mensal 3x na Semana</a>
                                  <a class="dropdown-item" >Variado Mensal 3x na Semana</a>

                                </div>
                            </div>
                            <hr>

                            <div class="form-label-group">
                                <input name="bandeira" type="text" id="inputBandeira" class="form-control"
                                    placeholder="Bandeira" required autofocus>
                                <label for="inputBandeira">Bandeira</label>
                            </div>

                            <div class="form-label-group">
                                <input name="nome_cartao" type="text" id="inputNome_cartao" class="form-control"
                                    placeholder="Nome_cartao" required autofocus>
                                <label for="inputNome_cartao">Nome no cartão</label>
                            </div>


                            <div class="form-label-group">
                                <input name="n_cartao" type="number" id="inputN_cartao" class="form-control"
                                    placeholder="N_cartao" required autofocus>
                                <label for="inputN_cartao">Número do cartão</label>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                type="submit">Registre-se</button>
                            <a class="d-block text-center mt-2 small" href="login">Login</a>
                            <hr class="my-4">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


{% endblock content %}