{% extends "professor/usuario_logado.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/secretario/styles/aula_perfil.css' %}">
{% endblock styles %}

{% block content %}

<!-- Navigation -->

<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <div>
                <p class="h1">Selecione o aluno</p>

                <div class="row py-5">
                    <div class="col-lg-10 mx-auto">
                        <div class="card rounded shadow border-0">
                            <div class="card-body p-5 bg-white rounded">
                                <div class="table-responsive">
                                    <table id="alunos" style="width:100%" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Nome</th>
                                                <th>Email</th>
                                                <th>CPF</th>
                                                <th>Usuário</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <form method="POST">
                                                {% csrf_token %}
                                                {% for aluno in alunos %}
                                                <tr>
                                                    <td>
                                                        <div class="form-group form-check">
                                                            <input type="checkbox" class="form-check-input"
                                                                name={{aluno.id}}>
                                                        </div>
                                                    </td>
                                                    <td>{{aluno.nome}}</td>
                                                    <td>{{aluno.email}}</td>
                                                    <td>{{aluno.CPF}}</td>
                                                    <td>{{aluno.usuario}}</td>
                                                </tr>
                                                {% endfor %}
                                                <button class="btn btn-success" type="submit" value="alunos">Selecionar Aluno</button>
                                            </form>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}