{% extends "medico/usuario_logado.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/secretario/styles/quadro_horarios.css' %}">

{% endblock styles %}

{% block content %}

<div class="container">
  <div class="row justify-content-between">
    <div class="col-3" style="padding-top: 20px;">
      <div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-primary btn-lg" onclick="window.location = '/professor/lista_treinos'">Meu IMC é:{{imc}}</button>
        <button type="button" class="btn btn-secondary btn-lg" onclick="window.location = '/aluno/view_exame'">Consultar Exame de Aptidão Física</button>
      </div>
    </div>

    <div class="col-4">
      <p class="h1">Perfil</p>
      <p class="h5">Usuário: <small class="text-muted">{{user_logged.usuario}}</small></p>
      <p class="h5">Email: <small class="text-muted">{{user_logged.email}}</small></p>
      <p class="h5">Tipo: <small class="text-muted">Aluno</small></p>
      <p class="h5">ID: <small class="text-muted">{{user_logged.id}}</small></p>


    </div>
  </div>
  {% if treino %}
  <div style="text-align: left; padding-top: 50px;">
    <h1> Treino</h1>
    <p class="h5">Ombro: <small class="text-muted">{{treino.ombro}}</small></p>
    <p class="h5">Peito: <small class="text-muted">{{treino.peito}}</small></p>
    <p class="h5">Biceps: <small class="text-muted">{{treino.biceps}}</small></p>
    <p class="h5">Costas: <small class="text-muted">{{treino.costas}}</small></p>
    <p class="h5">Triceps: <small class="text-muted">{{treino.triceps}}</small></p>
  </div>
  {%endif%}

  {% if has_aula %}

  <div class="table-responsive" style="padding-top: 20px;">
    <table class="timetable table table-striped ">
      <h1 style="text-align: center;">Meus Horários</h1>
      <thead>
        <tr class="text-center">
          <th scope="col">Segunda</th>
          <th scope="col">Terça</th>
          <th scope="col">Quarta</th>
          <th scope="col">Quinta</th>
          <th scope="col">Sexta</th>
          <th scope="col">Sábado</th>
          <th scope="col">Domingo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for all_aulas in tabela %}
          {% for aula in all_aulas %}
          {% if aula %}
          <td class="timetable-workout"><a href="../aula?aula_id={{aula.id}}">{{aula.modalidade.get}}</a>
            <br> {{aula.horario}}</td>
          {% else %}
          <td class="timetable-workout"><a></a>
            <br></td>
          {% endif %}
          {% endfor %}

        </tr>

        {% endfor %}

      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% endblock content %}